<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find robot_description)/urdf/robot_description.urdf" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0.05 0 0 0 base_footprint base_link 100" />
    <!-- 配置 arbotix 节点 -->
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
    <rosparam file="$(find robot_description)/config/control.yaml" command="load" />
    <param name="sim" value="true" />
  </node>
  
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find robot_description)/urdf.rviz" />
</launch>