<launch>

  <param name="robot_description" textfile="$(find robot_description)/urdf/robot_description.urdf" />
  <!--启动TF坐标-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0.05 0 0 0 base_footprint base_link 100" />
  <!-- 读取urdf信息(robot_description) 发布话题：/joint_states-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <!-- 订阅话题：/joint_states，发布小车TF信息-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>